<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Categories</title>
</head>
<body>
<div id='data-list' class="data-list"></div>
</body>
</html>
<script>

    var data = {{ data | tojson }};
    data = JSON.parse(data)

    // HTML listesini oluşturmak için fonksiyon
    function createList() {
        var list = document.getElementById('data-list');
        list.innerHTML = ''; // mevcut listeyi temizle
        data.forEach(function (item, index) {
            var listItem = document.createElement('div');
            listItem.innerHTML = '<span>' + item.name + '</span> <button onclick="editItem(' + index + ')">Edit</button> <button onclick="deleteItem(' + index + ')">Delete</button>';
            list.appendChild(listItem);
        });
    }

    // Edit butonuna basıldığında çağrılacak fonksiyon
    function editItem(index) {
        // ilgili objeyi düzenlenebilir yap
        var item = data[index];
        // Düzenleme için gerekli HTML'i oluştur
        var editHtml = '<form method="post" action="categories/' + item['_id']['$oid'] + '"> <input type="text" name="name" id="edit-name" value="' + item.name + '"> <button type="submit"> Save </button> </form>';
        document.getElementById('data-list').children[index].innerHTML = editHtml;
    }


    function deleteItem(index) {
        var item = data[index];
        var deleteHtml = '<form method="delete" action="categories/' + item['_id']['$oid'] + '"> <button > Delete </button> </form>';
        fetch('categories/' + item['_id']['$oid'], {
            method: 'DELETE',
            body: deleteHtml
        }).catch((e) => (console.log('basarısız', e))).then((res) => {
                location.reload()
            }
        )
    }


    // Sayfa yüklendiğinde listeyi oluştur
    window.onload = createList;
</script>