<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
<div>
    <h1>Add book</h1>
    <form method='post' action="">
        <p><label for='category'>Category</label></p>
        <p>
            <input name="category" placeholder="Select Category" id='category_name' type="text">
        </p>
        <p><label for='title'>Title</label></p>
        <p>
            <input name="title" placeholder="Insert Name" id='name' type="text">
        </p>
        <p>
            <label for="creator">Creator</label>
        </p>
        <p><input name="creator" id='creator' type="text"></p>
        <p>
            <label for="content">Content</label>
        </p>
        <p><input name="content" id='content' type="text"></p>
        <p><label for="createnadd">Create if category not exist and add book</label></p>
        <p><input type="checkbox" id="create_and_add" name="create_and_add"></p>
        <button type="submit">Add Item</button>
    </form>
    <form method="get" action="categories">
        <button type="submit">categories</button>
    </form>

</div>

<div id="data-list"></div>


<script>
    var data = {{ data | tojson }};
    if (data['success'] == false) {
        alert(data['message'])
    }
    data = JSON.parse(data['books'])

    // HTML listesini oluşturmak için fonksiyon
    function createList() {

        var list = document.getElementById('data-list');
        list.innerHTML = ''; // mevcut listeyi temizle
        data.forEach(function (item, index) {
            var listItem = document.createElement('div');
            listItem.innerHTML = '<span>' + item.title + ' ' + item.creator + ' - ' + item.content + ' - ' + item['created_at']['$date'] + '</span> <button onclick="editItem(' + index + ')">Edit</button> <button onclick="deleteItem(' + index + ')">Delete</button>';
            list.appendChild(listItem);
        });
    }
// EditItem kısmındaki isteği fetch ile yap
    // Edit butonuna basıldığında çağrılacak fonksiyon
    function editItem(index) {
         var item = data[index];
         var editHtml = '<form method="post" action="books/'+ item['_id']['$oid'] +'"><input type="text" name="title" id="edit-title" value="' + item.title + '"> <input type="text" name="creator" id="edit-creator" value="' + item.creator + '"> <input name="content" type="text" id="edit-content" value="' + item.content + '"> <button type="submit">Save</button></form>';
        document.getElementById('data-list').children[index].innerHTML = editHtml;
    }

    function deleteItem(index) {
        console.log(index)
        var item = data[index];
        fetch('books/' + item['_id']['$oid'], {
            method: 'DELETE'
        }).catch((e) => (console.log('basarısız', e))).then((res) => {
                console.log(res)
                location.reload()

            }
        )
    }

    // Sayfa yüklendiğinde listeyi oluştur
    window.onload = createList;
    /*
    * const form = document.getElementById('myForm');

form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Sayfanın yeniden yüklenmesini engellemek için

    const formData = new FormData(form); // Form verilerini alın
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;
    });

    try {
        const response = await fetch('https://api.example.com/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // JSON formatında gönderileceğini belirtin
            },
            body: JSON.stringify(data), // Verileri JSON formatına dönüştürün
        });

        if (response.ok) {
            console.log('Veriler başarıyla gönderildi.');
        } else {
            console.error('Veri gönderme hatası:', response.status);
        }
    } catch (error) {
        console.error('Bir hata oluştu:', error);
    }
});*/
</script>

</body>
</html>

