<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System</title>


</head>
<body>
<h1>DELETE CATEGORY</h1>
    <form method='post' action="delete_category">
        <p><label for='del_cat_name'>Category Name</label></p>
        <p>
            <input name="del_cat_name" placeholder="Insert Category Name" id='del_cat_name' type="text">
        </p>
        <button type="submit">Delete Category</button>
    </form>
    <h1>UPDATE CATEGORY NAME</h1>
    <form method='post' action="update_category_name">
        <p><label for='up_cat_name'>Category Name</label></p>
        <p>
            <input name="up_cat_name" placeholder="Insert Category Name" id='up_cat_name' type="text">
        </p>
        <p><label for='new_cat_name'>New Category Name</label></p>
        <p>
            <input name="new_cat_name" placeholder="New Category Name" id='new_cat_name' type="text">
        </p>
        <button type="submit">Update Category Name</button>
    </form>
 <!--   <h1>ADD CATEGORY</h1>
    <form method='post' action="add_new_category">
        <p><label for='cat_name'>Category Name</label></p>
        <p>
            <input name="cat_name" placeholder="Insert Category Name" id='cat_name' type="text">
        </p>
        <button type="submit">Add Category</button>
    </form>
    -->
    <h1>ADD ITEM</h1>
    <form method='post' action="add">
        <p><label for='category_name'>Category</label></p>
        <p>
            <input name="category_name" placeholder="Select Category" id='category_name' type="text">
        </p>
        <p><label for='name'>Name</label></p>
        <p>
            <input name="name" placeholder="Insert Name" id='name' type="text">
        </p>
        <p>
            <label for="degree">Degree</label>
        </p>
        <p><input name="degree" id= 'degree' type="text"></p>
        <button type="submit">Add Item</button>
    </form>
    <h1>DELETE ITEM</h1>
    <form method="post" action="delete">
        <p><label for='del_category'>Category</label></p>
        <p><input name="del_category" placeholder="Insert category" id='del_category' type="text"></p>
        <p><label for="del_id">Delete Item</label></p>
        <p><input name="del_id" id="del_id" type="text"></p>
        <button type="submit">Delete Item</button>
    </form>
    <hr>
        {% for key,value in datas.items() %}
            <ul>
                <h1>{{ key }}</h1>
                 {% for val in value %}
                     <p>id : {{ val['id'] }}</p>
                     <p>name :{{ val['name'] }}</p>
                     <p>create time {{ val['created_at'] }}</p>
                     <p>degree {{ val['degree'] }}</p>
                     <hr>
                 {% endfor %}

            </ul>
        {% endfor %}
    <hr>
    <h1>UPDATE</h1>
    <form method='post' action="update">
        <p><label for='up_category'>Category</label></p>
        <p>
            <input name="up_category" placeholder="Insert category" id='up_category' type="text">
        </p>
        <p><label for='up_id'>ID</label></p>
        <p>
            <input name="up_id" placeholder="Insert ID" id='up_category' type="text">
        </p>
        <p><label for='up_name'>Name</label></p>
        <p>
            <input name="up_name" placeholder="Insert Name" id='name' type="text">
        </p>
        <p>
            <label for="up_degree">Degree</label>
        </p>
        <p><input name="up_degree" id= 'up_degree' type="text"></p>
        <button type="submit">Update Item</button>
    </form>
    <br>
    <hr>
    <form method='post' action="list_collections">
        <button type="submit">List Collections</button>
    </form>

</body>
</html>